:root {
  --primary: #3055a6;
  --primary-hover: #25417e;

  --secondary: #5f8aea;
  --secondary: #4c76cf;

  --tertiary: #b2dbff;
  --tertiary-hover: #91bce2;

  --primary-black: #152536;
  --secondary-black: #6c757d;

  --frost-white: #fefefe;

  --white: #ffffff;
  --black: #000000;
}
